#Ignore conf files
*.conf

#Ignore yaml
*.yaml

#however exclude the sample conf
!fcg_conf.yaml
!*.sample*

#exclude various folder
log
cache

#Perl's build specific stuff
Build
_blib
blib
_build
MANIFEST
MYMETA*
META

#exclude Build.PL
!Build.PL

!lib/GenomeREST/Build
